html, body {	
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  color: inherit;
  -webkit-appearance: none;
  /*-moz-appearance: none;*/
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
	background-color: #FAECD7;	
  color: #4d4d4d;
  width: 550px;
  margin: 0 auto;
}

.container {
	width: 500px;
}

.logo {
	color: red;
}

.list {
	list-style: none;
}

.item-state {
	font-size: 20px;
	display: inline-block;
	width: 20px;
	cursor: pointer;
	position: relative;
}

.item-state.completed {
	top: -5px;
}

.item-state.incomplete {
	top: -5px;
}

.item-text .completed {
	text-decoration: line-through;
	color: #999;
}

.item-edit {
	cursor: pointer;
	font-size: 20px;
}

.add-item-button {
	margin: 5px 10px;
}

.add-item {
	padding: 20px 0;
	margin-left: 0px;
}

.add-item-text {
	min-width: 250px;
	padding: 10px;
}

.info {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #eee;
}

.total-todos-label {
	text-align: right;
}

.total-todos-text {
	text-align: left;
}

.glowing-border {
    border: 1px solid #dadada;
    border-radius: 3px;
}

.glowing-border:focus { 
    outline: none;
    border-color: #ed934e;
    box-shadow: 0 0 3px #ed934e;
}