html, body {	
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  color: inherit;
  -webkit-appearance: none;
  /*-moz-appearance: none;*/
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
	background-color: #FAECD7;	
  color: #4d4d4d;
  margin: 0 auto;
}

.container {
	width: 500px;
}

.list:before {
  content: '';
  border-left: 1px solid #428bca;
  border-right: 1px solid #428bca;
  width: 4px;
  position: absolute;
  top: -2px;
  left: 45px;
  height: 100%;
}

.list:after {
  content: '';
  border-left: 1px solid #428bca;
  border-right: 1px solid #428bca;
  width: 4px;
  position: absolute;
  top: -2px;
  right: 70px;
  height: 100%;
}


.logo {
	color: red;
}

.list {
	position: relative;
	list-style: none;
	border-top: 1px solid #999;
}

.no-todos-text, .list-item {
	padding: 10px;
	border-bottom: 1px solid #999;
	display: inline-block;
	width: 100%;
}

.no-todos-text {
	padding-left: 50px;
}

.item-state {
	font-size: 35px;
	display: inline-block;
	cursor: pointer;
	position: relative;
}

.item-state.incomplete {
	top: -6px;
}

.item-text {
	padding-left: 25px;
}

.item-text input{
	padding: 5px 10px;
	width: 100%;
}

.item-text .completed {
	text-decoration: line-through;
	color: #999;
}

.item-edit span:nth-child(1) {
	display: inline-block;
	margin-right: 5px;
}

.item-edit {
	cursor: pointer;
	font-size: 20px;
}

.add-item-button {
	margin: 5px 10px;
}

.add-item {
	padding: 20px 0;
	margin-left: 0px;
}

.add-item-text {
	min-width: 250px;
	padding: 10px;
}

.info {
	margin-top: 20px;
	padding-top: 10px;
}

.glowing-border {
    border: 1px solid #dadada;
    border-radius: 3px;
}

.glowing-border:focus { 
    outline: none;
    border-color: #ed934e;
    box-shadow: 0 0 3px #ed934e;
}